* {
  box-sizing: border-box;
}

@font-face {
  font-family: gluten;
  src: url("Gluten-Regular.ttf");
}

body {
  font-family:Helvetica;
  color:#ffffff;
}

h2 {
  text-align: center;
}

/* Header/logo Title */
.header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  background: #88D58E;
  color: white;
}

.header h1 {
  font-family: gluten;
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topics {
  float: left;
  width: 20%;
  text-align: center;
}

.topics h2 {
  color: #267326;
  padding: 10px 0 10px 0;
  background-image: url("leaves.png");
}

.topics a {
  background-color: #48B774;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.topics a:hover {
  background-color: #B7FFDC
;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  color:black;
}

table, th, td {
  border: solid 2px green;
  border-collapse: collapse;
}

.right {
  background-image: url("leaves.png");
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: #267326;
}

.right p {
  background-color:rgba(255, 255, 255, 0.5);
}

.footer {
  background-color:#88D58E;
  text-align:center;
  padding:10px;
  margin-top:7px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

/*make a less ugly colour lmao*/
.grid-container > div {
  background-color: #b7de79;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  border-radius: 20px;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right, .header {
    width: 100%;
  }

  /*responsive grid*/
}
